<%- include('../partials/head') %>
    <title>Edit comment</title>
    </head>

    <body>
        <h1>Edit comment</h1>
        <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH">
            <textarea name="comment" cols="30" rows="10">
                <%=comment.comment%>
            </textarea>
            <br>
            <button>Save</button>
        </form>

    </body>

    </html>