<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add a new product</h1>
    <form action="/products" method="post">
        <label for="name">Product Name: </label>
        <input type="text" name="name" id="name">
        <label for="price">Price: </label>
        <input type="number" name="price" id="price">

        <label for="category">Category: </label>
        <select name="category" id="category">
            <option value="Electronics">Electronics</option>
            <option value="Clothing">Clothing</option>
            <option value="Footwear">Footwear</option>
            <option value="Beauty">Beauty</option>
        </select>
        <label for="seller">Seller: </label>
        <input type="text" name="seller" id="seller">
        <label for="InStock">InStock: </label>
        <select name="inStock" id="InStock">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <button>Add Product</button>
    </form>
</body>

</html>