<%- include('../partials/head') %>
    <title>Show comment</title>
    </head>

    <body>
        <h1>Comment ID:
            <%=comment.id%>
        </h1>
        <%=comment.comment%> - <b><%=comment.name%></b>

    </body>

    </html>